<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Chat app</a>
  </nav>
</header>
<main class="chat">
  <div class="container">
    <div class="section">
      <h6 style="font-weight:bold">Select a friend</h6>
      <select (change)="onChange(selectFriend)"
        [(ngModel)]="selectFriend">
          <option *ngFor="let friend of this.friendsList;let 
            i = index" value="{{friend.code}}">
            {{friend.name}}
          </option>
        </select>
    </div>
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let chatMessage of messageObj"
          >
            <strong>{{ chatMessage.user }}: </strong>
            <span>{{ chatMessage.message }}</span>
            <span *ngIf="chatMessage.time">{{ chatMessage.time }}</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" 
      #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            name="message"
            id="input-message"
            [(ngModel)]="inputMessage"
          />
          <input id="image-file" type="file" (change)="uploadFile($event)"/>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
    <div>
      <img [src]="imgUrl" *ngIf="imgUrl"/>
    </div>
  </div>
</main>
